{% macro speak_chart(target) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> {{ "[" + {'g': '群', 'd': '组', 'p': '单聊'}.get(target.split('#')[0])+ ":" + target.split('#')[1] +"] 每日发言统计图" }}(<span
                id="{{ target|replace('#','_') +'-chart-title' }}"></span>)
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        操作
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a id="{{ target|replace('#','_') +'-chart-action-1' }}">查询7天</a>
                        </li>
                        <li>
                            <a id="{{ target|replace('#','_') +'-chart-action-2' }}">查询30天</a>
                        </li>
                        <li>
                            <a id="{{ target|replace('#','_') +'-chart-action-3' }}">查询60天</a>
                        </li>
                        <li class="divider"></li>
                        <li><a id="{{ target|replace('#','_') +'-chart-action-4' }}">重算今天数据</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="{{ target|replace('#','_') +'-chart' }}"></div>
        </div>
        <!-- /.panel-body -->
    </div>
{% endmacro %}

{% macro speak_toprank(target) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-trophy fa-fw"></i> {{ "[" + {'g': '群', 'd': '组', 'p': '单聊'}.get(target.split('#')[0])+ ":" + target.split('#')[1] +"]" }}<span
                id="{{ target|replace('#','_') +'-rank-title' }}"></span>发言排行榜
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        操作
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a id="{{ target|replace('#','_') +'-rank-action-1' }}">查询今天</a>
                        </li>
                        <li><a id="{{ target|replace('#','_') +'-rank-action-2' }}">查询昨天</a>
                        </li>
                        <li><a id="{{ target|replace('#','_') +'-rank-action-3' }}">查询7天内</a>
                        </li>
                        <li><a id="{{ target|replace('#','_') +'-rank-action-4' }}">查询全部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="list-group top-list" id="{{ target|replace('#','_') +'-rank' }}">
            <!-- /.list-group -->
        </ul>
        <!-- /.panel-body -->
    </div>
{% endmacro %}

{% macro count_icon(id, title, icontype, color, url) %}
    <div class="panel panel-{{ color }}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-{{ icontype }} fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge" id={{ id }}></div>
                    <div>{{ title }}</div>
                </div>
            </div>
        </div>
        <a href="{{ url }}">
            <div class="panel-footer">
                <span class="pull-left">查看详细内容</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
{% endmacro %}