<!-- extend base layout -->
{% extends "admin/master.html" %}
{% from "admin/macros/speak_statistics.html" import speak_chart,speak_toprank,count_icon,set_chart_data %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            {{ count_icon('speak_today_count', "今日发言数!", "comments", "primary", url_for('speak.index_view', flt1_21 = today)) }}
        </div>
        <div class="col-lg-3 col-md-6">
            {{ count_icon('sign_today_count', "今日签到数!", "flag-checkered", "green", url_for('sign.index_view', flt1_21 = today)) }}
        </div>
        <div class="col-lg-3 col-md-6">
            {{ count_icon('point_today_total', "今日报点成功点数!", "bullhorn", "yellow", url_for('point.index_view', flt1_42 = today)) }}
        </div>
        <div class="col-lg-3 col-md-6">
            {{ count_icon('score_today_total', "今日积分流量!", "money", "red", url_for('scorerecord.index_view', flt1_35 = today)) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            {% for t,b in targets.items() %}
                {{ speak_chart(t) }}
            {% endfor %}
        </div>
        <div class="col-lg-4">
            {% for t,b in targets.items() %}
                {{ speak_toprank(t) }}
            {% endfor %}
{#            {{ chat("Chat") }}#}
        </div>
    </div>

{% endblock %}

{% block tail %}
    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael.min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
    <script src="/static/js/dashboard.js"></script>
    {% for t,b in targets.items() %}
        <script language="javascript">
            init_statistics_panel('{{ b }}', '{{ t }}', '{{ url_for("admin.statistics_service") }}')
        </script>
    {% endfor %}
{% endblock %}