{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">

    <div>
        {% if current_user.is_authenticated %}
        <h1>云谷机器人管理系统</h1>
        <p class="lead">
            状态：正常
        </p>
        <p>
            请选择菜单进行操作
        </p>
        {% else %}
        <div style="display: flex;height:500px">
            <!--<div style="float:left;width:100px">-->
            <div style="margin: auto;">
                <form method="POST" action="">
                    {{ form.hidden_tag() if form.hidden_tag }}
                    {% for f in form if f.type != 'CSRFTokenField' %}
                    <div>
                    {{ f.label }}
                    {{ f }}
                    {% if f.errors %}
                    <ul>
                        {% for e in f.errors %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    </div>
                    {% endfor %}
                    <div align="center">
                        <button class="btn" type="submit">提交</button>
                    </div>
                </form>
            </div>
            <!--<div style="float:right;width:100px"></div>-->
        </div>
        {{ link | safe }}
        {% endif %}
    </div>

    <!--<a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> 返回</a>-->
</div>
{% endblock body %}